<!DOCTYPE html>
<html>
  <head>
    <title>MadLib Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Choose your adventure by going the route of form1 or form2!</h1>
    <form action="/form1">
      <label for="form1">Enter form one.</label>
      <button type="submit">Go!</button>
    </form>
    <form action="/form2">
      <label for="form2">Enter form two.</label>
      <button type="submit">Go!</button>
    </form>
  </body>
</html>

<!-- <button type="submit" button id="getAPIbutton" class="btn btn-primary">Submit your choice!</button> -->