<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLib Story!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>FORM TWO</h1>
    <h1>Fill in the blanks to create your custom MadLib!</h1>
    <form action="/story2" method="post">
      <label for="adjective1">Enter an adjective: </label>
      <input id="adjective1" name="adjective1" type="text"><br>
      <label for="adjective2">Enter an adjective: </label>
      <input id="adjective2" name="adjective2" type="text"><br>
      <label for="bird">Enter a type of bird: </label>
      <input id="bird" name="bird" type="text"><br>
      <label for="room">Enter a room in the house: </label>
      <input id="room" name="room" type="text"><br>
      <label for="verb1">Enter a verb: </label>
      <input id="verb1" name="verb1" type="text"><br>
      <label for="verb2">Enter another verb: </label>
      <input id="verb2" name="verb2" type="text"><br>
      <label for="relative">Enter a relative's name:  </label>
      <input id="relative" name="relative" type= "text"><br>
      <label for="noun">Enter a noun: </label>
      <input id="noun" name="noun" type="text"><br>
      <label for="drink">Enter a drink: </label>
      <input id="drink" name="drink" type="text"><br>
      <label for="verbIng1">Enter a verb ending in "ing": </label>
      <input id="verbIng1" name="verbIng1" type="text"><br>
      <label for="bodyPart">Type a body part: </label>
      <input id="bodyPart" name="bodyPart" type="text"><br>
      <label for="nounPlural">Enter a plural noun: </label>
      <input id="nounPlural" name="nounPlural" type="text"><br>
      <label for="verbIng2">Enter verb ending in "ing": </label>
      <input id="verbIng2" name="verbIng2" type="text"><br>
      <label for="noun2">Enter a noun: </label>
      <input id="noun2" name="noun2" type="text">
      <button type="submit">Go!</button>
    </form>
  </body>
</html>