<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom MadLib Story!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>FORM TWO</h1>
    <h1>Fill in the blanks to create your custom MadLib!</h1>
    <form action="/story2" method="post">
      <label for="person1">Enter a person's name: </label>
      <input id="person1" name="person1" type="text"><br>
      <label for="person2">Enter another person's name: </label>
      <input id="person2" name="person2" type="text"><br>
      <label for="animal">Enter an animal: </label>
      <input id="animal" name="animal" type="text"><br>
      <label for="exclamation">Enter a exclamation to be yelled: </label>
      <input id="exclamation" name="exclamation" type="text"><br>
      <label for="verb">Enter a verb: </label>
      <input id="verb" name="verb" type="text"><br>
      <label for="noun">Enter a noun: </label>
      <input id="noun" name="noun" type="text">
      <button type="submit">Go!</button>
    </form>
  </body>
</html>